.header {
    // border-bottom: 1px solid rgba(229, 222, 194, 1);
    // max-width: 479px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color:  #12403C;

    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 100%;
      
    }
  }
  
  .header__container {
    display: flex;
    align-items: center;
  }