.hero {
  display: flex;
  align-items: center;
  background: $main-site-section;
  height: 400px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgb(47 48 58 / 15%),
      rgb(47 48 58 / 11%)
    ),
    url(../images/hero-bg-note-1x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0;
  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgb(47 48 58 / 20%),
        rgb(47 48 58 / 35%)
      ),
      url(../images/hero-bg-note-1x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    // max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-tab-1x.jpg);
  }

  @media screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-tab-2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 2000px;
    min-height: 600px;
    background-image: linear-gradient(
        to right,
        rgb(47 48 58 / 15%),
        rgb(47 48 58 / 11%)
      ),
      url(../images/hero-bg-note-1x.jpg);
    padding-top: 200px;
    // padding-bottom: 280px;
  }

  @media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgb(47 48 58 / 15%),
        rgb(47 48 58 / 11%)
      ),
      url(../images/hero-bg-note-2x.jpg);
  }
  background-position: center;
}

.hero__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.62;
  // text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff8dc;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero2 {
  display: flex;
  align-items: center;
  background: white;
  margin: 0 auto;
  background-image: url(../images/hero2-bg-note-1x.jpg);
  background-color: rgba(5, 82, 75, 0.2);

  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;

  @media (min-resolution: 2dppx) {
    background-image: url(../images/hero2-bg-note-1x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    // max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-tab-1x.jpg);
  }

  @media screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-tab-2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 2000px;
    // min-height: 800px;
    background-image: url(../images/hero2-bg-note-1x.jpg);
    // padding-top: 200px;
    background-color: rgba(5, 82, 75, 0.2);
    // padding-bottom: 280px;
  }
  background-position: center;
}

.post-wrap {
  max-width: 1155px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-item {
  padding: 15px;
  cursor: pointer;
}

.post-item * {
  transition: 0.3s linear;
}

.item-content {
  background: #12403c;
  padding: 40px;
  min-height: 490px;
  border-radius: 4px;
}

.item-icon {
  margin-bottom: 20px;
}

.item-icon:before {
  content: "";
  font-family: FontAwesome;
  color: #f09ea3;
  font-size: 50px;
  line-height: 1;
}

.item-icon.photo:before {
  content: "\f030";
}

.item-icon.video:before {
  content: "\f03d";
}

.item-icon.gift:before {
  content: "\f06b";
}

.item-icon.group:before {
  content: "\f0c0";
}

.item-icon.tree:before {
  content: "\f1bb";
}

.item-icon.anchor:before {
  content: "\f13d";
}

.post-item:hover .item-icon,
.post-item:hover .item-body h3,
.post-item:hover .item-body p {
  transform: translateY(-8px);
}

.item-body {
  color: #e5debf;
  font-size: 16px;
}

.item-body h3 {
  font-weight: 500;
  margin-bottom: 15px;
  transition-delay: 0.05s;
  color: #ffffff;
  font-size: 20px;
}

.item-body p {
  transition-delay: 0.1s;
  font-size: 14px;
}

.item-footer {
  padding-top: 15px;
}

.link {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f5e2cd;
}

.link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 0.125rem;
  margin: auto;
  background: #ffffff;
  transform: scaleX(0.2);
  transform-origin: left center;
  z-index: 0;
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.link span {
  display: inline-block;
  position: relative;
  transform: translateX(-200%);
  transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
}

.post-item:hover .link span {
  transform: translateX(0%);
}

.post-item:hover .link:before {
  transform-origin: right center;
}

@media (min-width: 768px) {
  .post-item {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}

@media (min-width: 960px) {
  .post-item {
    flex-basis: 33.333333333%;
    padding-right: 0;
  }
}

.col-lg-3 {
  @media (min-width: 1200px) {
    width: 33% !important;
    padding-right: 0px !important;
  }
}
