body {
  font-family: $current-font !important;
  // color: $first-text-color;
  background-color: black;
}

a:hover {
  text-decoration: none !important;
}

.row {
  margin: 0px !important;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
}

html {
  scroll-behavior: smooth;
}
