.review {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgb(47 48 58 / 32%),
      rgb(47 48 58 / 42%)
    ),
    url(../../images/socials/Reviews.png);
  background-size: cover;
  padding: 20px;

  @media only screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgb(134 132 132 / 53%),
        rgb(47 48 58 / 75%)
      ),
      url(../../images/socials/Reviews.png);
    height: 190px;
    background-size: auto;
  }
}

.review__button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #aaa79c;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
  width: 220px;
  height: 52px;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #0000001a;
}

.review__button:hover,
.btn:hover {
  color: #fff !important;
  background-color: #12403c !important;
  transition: 1000ms !important;
}

.review__button:hover {
  background-color: rgba(178, 178, 178, 1) !important;
  color: #12403c !important;
  transition: 1000ms !important;
  font-weight: 600;
}

.googleTitle {
  color: #fff;
  @media only screen and (min-width: 1200px) {
    color: #fff;
    margin-top: 10px;
  }
}
